{% extends "medico/background.html" %}

{% block content %}

<form id="add-contact-form" class="form" action="#" method="POST" role="form">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
        <label class="form-label">Especialidade</label>
        <input type="text" class="form-control" id="especialidade" name="especialidade" placeholder="Especialidade" tabindex="1" required>
    </div>

    <div class="form-group">
        <label class="form-label">Descrição</label>
        <input type="text" class="form-control" id="descrição" name="descrição" placeholder="Descrição" tabindex="3" required>
    </div>

    <div class="text-center">
        <a href="{% url 'ListMedicos' %}" class="btn">Voltar</a>
        <button type="submit" class="btn">Confirm</button>
    </div>
</form>

{% endblock content%}


