{% extends "medico/background.html" %}

{% block title %} <h1>Especialidades</h1> {% endblock title %}
{% block nav %}
    {{block.super}}
    <li><a href="{% url 'AddEspecialidade' %}">Criar</a></li>
{% endblock nav %}

{% block content %}
    {% for i in list %}
    <div>
        <p>Nome: {{i.nome}} </p>
        <p>Descricao: {{i.descricao}} </p>

        <div>
            <a href="{% url 'EditEspecialidade' i.id %}"><button>Editar</button></a>
            <a href="{% url 'DelEspecialidade' i.id %}"><button>Excluir</button></a>
        </div>
    </div>
    {% endfor %}
        
{% endblock content %}